/* CSS Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
* {
  overflow-x: hidden;
}
html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--clr-font-secondary);
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  background: var(--clr-bg);
}

:root {
  --clr-bg: hsl(240, 98%, 18%);

  --clr-font-primary: hsl(0, 0%, 100%);
  --clr-font-secondary: hsl(54, 100%, 50%);
  --clr-accent: hsla(0, 100%, 50%, 0.904);
  --clr-ph: hsla(0, 0%, 100%, 0.721);
}

header {
  text-align: center;
}
header .logo {
  height: 60px;
  translate: -7px 12px;
}

.input-form {
  text-align: center;
  margin-top: 5px;
}
.input-form h3 {
  color: var(--clr-font-primary);
  margin-bottom: 10px;
}
.input-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.input-form__search input {
  padding: 10px 100px 10px 10px;
  border-radius: 5px;
  border: 2px solid var(--clr-font-secondary);
  background: transparent;
}
.input-form__search input:focus {
  box-shadow: 0 0 20px var(--clr-font-secondary);
}
.input-form__search input::placeholder {
  color: var(--clr-ph);
}
.input-form__search button {
  padding: 6px 30px;
  border: none;
  background: var(--clr-accent);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.input-form__search button:hover {
  filter: brightness(0.9);
}
.input-form__search button img {
  height: 25px;
  transition: 0.3s;
}
.input-form__search button:hover img {
  translate: 0 -2px;
}

.pokemon-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-bottom: 100px;
}
.pokemon-info p {
  color: var(--clr-font-primary);
}
#pokemon-id {
  color: var(--clr-ph);
  font-size: 1.75rem;
  font-weight: 900;
}
#pokemon-name {
  font-size: 2.25rem;
  margin-top: -8px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  color: var(--clr-font-secondary);
}
.pokemon-info__header .pokemon-size {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding-inline: 5px;
  border-left: 1px solid var(--clr-font-secondary);
  border-right: 1px solid var(--clr-font-secondary);
}
.pokemon-info__header .pokemon-types {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  color: var(--clr-font-primary);
  display: flex;
  align-items: center;
  gap: 10px;
}
#pokemon-type {
  padding: 5px 20px;
}
#pokemon-sprite {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.pokemon-info hr {
  opacity: 0.3;
}
.pokemon-info__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 15px;
  align-self: flex-start;
  margin-top: 20px;
}
.pokemon-info__details > * {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--clr-font-primary);
  border-radius: 5px;
  box-shadow: 0 0 8px var(--clr-font-primary);
  transition: 0.3s;
}
.pokemon-info__details .pokemon-evolutions__title,
.pokemon-info__details #pokemon-evolutions {
  grid-column: span 2;
}
.pokemon-info__details .pokemon-evolutions__title a {
  display: inline-block;
  width: 100%;
  color: var(--clr-font-secondary);
  text-decoration: none;
  transition: 0.3s;
}
.pokemon-info__details #pokemon-evolutions {
  display: flex;
  justify-content: space-around;
}
.pokemon-info__details > *:hover {
  background-color: var(--clr-font-primary);
  color: var(--clr-bg);
}
.pokemon-info__details .pokemon-evolutions__title:hover a,
.pokemon-info__details #pokemon-evolutions:hover p {
  color: var(--clr-bg);
}
.pokemon-info__details #pokemon-evolutions {
  margin-top: -15px;
  text-transform: capitalize;
}

/* Media Queries */
@media (max-width: 450px) {
  header {
    text-align: center;
  }
  header .logo {
    height: 100px;
    width: 100%;
  }
  header h1 {
    font-size: 2.25rem;
  }

  .input-form {
    text-align: center;
    margin-top: 15px;
  }
  .input-form h3 {
    margin-bottom: 20px;
  }
  .input-form__search {
    flex-direction: column;
    padding-inline: 20px;
  }
  .input-form__search > * {
    width: 100%;
  }

  .pokemon-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 30px;
  }
  .pokemon-info__header {
    width: 100%;
  }
  #pokemon-id {
    font-size: 1.75rem;
  }
  #pokemon-name {
    font-size: 2.25rem;
  }
  .pokemon-info__header .pokemon-size {
    width: 80%;
  }
  #pokemon-type {
    padding: 20px 50px;
    text-align: center;
  }
  #pokemon-sprite {
    width: 80%;
    margin: 0 auto;
  }
  .pokemon-info hr {
    opacity: 0.3;
  }
  .pokemon-info__details {
    white-space: nowrap;
  }
  .pokemon-info__details > * {
    padding: 20px 0;
    min-width: fit-content;
  }
  .pokemon-info__details #pokemon-evolutions {
    justify-content: space-evenly;
  }
}
